@using Restorann.Core.Models;
@model List<Chef>

    @{
        int counter = 1;
    }

<div class="container">
    <div class="row">
        <div class="col-3">
            <a asp-action="Create" class="btn btn-outline-primary">Create Chef</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">FbLink</th>
                        <th scope="col">InstaLink</th>
                        <th scope="col">XLink</th>
                        <th scope="col">Image</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <th scope="row">@(counter++)</th>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Designation</td>
                            <td>@item.FbLink</td>
                            <td>@item.InstaLink</td>
                            <td>@item.XLink</td>
                            <td> <img src="~/uploads/members/@item.ImageUrl" height="100"/> </td>
                            <td>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-warning">Update</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
